.login-container {
  max-width: 300px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 10vh;
  max-width: 300px;
}

.login-input {
  font-size: 1.5em;
  margin-bottom: 2vh;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
}

.login-input:focus {
  outline: none;
  background-color: rgb(199, 199, 199);
}

.login-button {
  border-radius: 10px;
  font-size: 1.5em;
  border: none;
  background-color: rgb(38, 150, 70);
  color: white;
  box-shadow: 2px 2px 10px rgb(82, 82, 82);
  padding: 10px;
}
.login-button:hover { 
  opacity: 0.8;
  cursor: pointer;
}